/*===========================
  Object Classes
=========================== */

#laptop{
	visibility: hidden;
}

#aimage1{
	visibility: hidden;
}
#atext1{
	visibility: hidden;
}

#aimage2{
	visibility: hidden;
}
#atext2{
	visibility: hidden;
}
#aimage3{
	visibility: hidden;
}
#atext3{
	visibility: hidden;
}



#icon1{
	visibility: hidden;
}
#icon2{
	visibility: hidden;
}
#icon3{
	visibility: hidden;
}
