	/*
  	Flaticon icon font: Flaticon
  	Creation date: 26/09/2016 07:09
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
font-style: normal;

}

.flaticon-analytics:before { content: "\f100"; }
.flaticon-animals:before { content: "\f101"; }
.flaticon-blogging:before { content: "\f102"; }
.flaticon-browser:before { content: "\f103"; }
.flaticon-browser-1:before { content: "\f104"; }
.flaticon-bug:before { content: "\f105"; }
.flaticon-chat:before { content: "\f106"; }
.flaticon-coding:before { content: "\f107"; }
.flaticon-coffee-cup:before { content: "\f108"; }
.flaticon-compass:before { content: "\f109"; }
.flaticon-design:before { content: "\f10a"; }
.flaticon-devices:before { content: "\f10b"; }
.flaticon-domain-registration:before { content: "\f10c"; }
.flaticon-down-arrow:before { content: "\f10d"; }
.flaticon-eyedropper:before { content: "\f10e"; }
.flaticon-font:before { content: "\f10f"; }
.flaticon-graph:before { content: "\f110"; }
.flaticon-horizontal-scroll:before { content: "\f111"; }
.flaticon-list:before { content: "\f112"; }
.flaticon-online-shop:before { content: "\f113"; }
.flaticon-paint-bucket:before { content: "\f114"; }
.flaticon-paint-roller:before { content: "\f115"; }
.flaticon-pantone:before { content: "\f116"; }
.flaticon-parcel:before { content: "\f117"; }
.flaticon-pen:before { content: "\f118"; }
.flaticon-pointer:before { content: "\f119"; }
.flaticon-restaurant:before { content: "\f11a"; }
.flaticon-rocket:before { content: "\f11b"; }
.flaticon-search:before { content: "\f11c"; }
.flaticon-search-1:before { content: "\f11d"; }
.flaticon-smartphone:before { content: "\f11e"; }
.flaticon-smartphone-1:before { content: "\f11f"; }
.flaticon-smartphone-2:before { content: "\f120"; }
.flaticon-smartphone-3:before { content: "\f121"; }
.flaticon-social-media:before { content: "\f122"; }
.flaticon-speedometer:before { content: "\f123"; }
.flaticon-speedometer-1:before { content: "\f124"; }
.flaticon-square:before { content: "\f125"; }
.flaticon-stack-of-inclined-presentation-cards:before { content: "\f126"; }
.flaticon-stats:before { content: "\f127"; }
.flaticon-stopwatch:before { content: "\f128"; }
.flaticon-storyboard:before { content: "\f129"; }
.flaticon-strategy:before { content: "\f12a"; }
.flaticon-target:before { content: "\f12b"; }
.flaticon-targeting:before { content: "\f12c"; }
.flaticon-typewriter:before { content: "\f12d"; }
.flaticon-vector:before { content: "\f12e"; }
.flaticon-vector-1:before { content: "\f12f"; }
.flaticon-vertical-scroll:before { content: "\f130"; }
.flaticon-website:before { content: "\f131"; }