	/*
  	Flaticon icon font: Flaticon
  	Creation date: 08/10/2016 18:25
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
font-style: normal;
}

.flaticon-analytics:before { content: "\f100"; }
.flaticon-app:before { content: "\f101"; }
.flaticon-brain:before { content: "\f102"; }
.flaticon-calendar:before { content: "\f103"; }
.flaticon-cards:before { content: "\f104"; }
.flaticon-clock:before { content: "\f105"; }
.flaticon-clothes:before { content: "\f106"; }
.flaticon-cms:before { content: "\f107"; }
.flaticon-coding:before { content: "\f108"; }
.flaticon-collateral:before { content: "\f109"; }
.flaticon-compass:before { content: "\f10a"; }
.flaticon-connection:before { content: "\f10b"; }
.flaticon-design:before { content: "\f10c"; }
.flaticon-dialog:before { content: "\f10d"; }
.flaticon-domain:before { content: "\f10e"; }
.flaticon-down-arrow:before { content: "\f10f"; }
.flaticon-down-arrow-thin:before { content: "\f110"; }
.flaticon-ecommerce:before { content: "\f111"; }
.flaticon-horizontal-scroll:before { content: "\f112"; }
.flaticon-idea:before { content: "\f113"; }
.flaticon-identity:before { content: "\f114"; }
.flaticon-journey:before { content: "\f115"; }
.flaticon-list-heart:before { content: "\f116"; }
.flaticon-list-star:before { content: "\f117"; }
.flaticon-list-timer:before { content: "\f118"; }
.flaticon-logo:before { content: "\f119"; }
.flaticon-meet:before { content: "\f11a"; }
.flaticon-package:before { content: "\f11b"; }
.flaticon-packaging:before { content: "\f11c"; }
.flaticon-paper-plane:before { content: "\f11d"; }
.flaticon-people:before { content: "\f11e"; }
.flaticon-piggy-bank:before { content: "\f11f"; }
.flaticon-print:before { content: "\f120"; }
.flaticon-prototype:before { content: "\f121"; }
.flaticon-responsive:before { content: "\f122"; }
.flaticon-rocket:before { content: "\f123"; }
.flaticon-school-material:before { content: "\f124"; }
.flaticon-seo:before { content: "\f125"; }
.flaticon-signs:before { content: "\f126"; }
.flaticon-social-media:before { content: "\f127"; }
.flaticon-stopwatch:before { content: "\f128"; }
.flaticon-strategy:before { content: "\f129"; }
.flaticon-telescope:before { content: "\f12a"; }
.flaticon-typewriter:before { content: "\f12b"; }
.flaticon-ui:before { content: "\f12c"; }
.flaticon-ui-ux:before { content: "\f12d"; }
.flaticon-user-research:before { content: "\f12e"; }
.flaticon-user-stories:before { content: "\f12f"; }
.flaticon-ux:before { content: "\f130"; }